html,
body {
    min-height: 100%;
    padding: 0;
    margin: 0;
}

a:hover {
    cursor: pointer;
}

.wrapper {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.page-content {
    display: flex;
    min-width: 100%;
    min-height: calc( 100% - 5.2em);
}

.presentation {
    color: rgb(101, 101, 101);
    padding: 2em;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.presentation-heading {
    display: flex;
    align-items: center;
}

.presentation img {
    width: 1em;
    height: auto;
    padding: 2em;
}

.presentation p {
    margin-bottom: 1em;
}

.cover-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.presentation input {
    width: 15em;
    height: 3em;
    margin-bottom: 1em;
    border: none;
    border-radius: 0.2em;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(101, 101, 101);
}

.presentation input {
    cursor: pointer;
}

.portfolio-button input {
    background-color: rgb(153, 204, 204);
    margin-top: 1em;
}

.project-calculator-button input {
    background-color: rgb(253, 234, 138);

}

.contacts-map iframe {
    padding: 0.5em;
}

@media (min-width: 576px) {
    .trigger {
        width: 100%;
        margin: 0;
    }

    .trigger:before {
        display: block;
        position: absolute;
        top: -50%;
        cursor: pointer;
    }

    .page-link {
        float: none;
    }

    .page-link a {
        padding: 0.2em;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}