.site-header {
    display: flex;
    background-color: rgb(52, 102, 103);
    height: 3em;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 7em;
    height: auto;
    margin-top: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
}

.site-nav {
    display: flex;
    justify-content: space-between;
}

.site-nav ul {
    list-style: none;
}

.trigger {
    display: flex;
    justify-content: flex-end;
}

.trigger a {
    padding-right: 2em;
    text-decoration: none;
    color: rgb(204, 204, 204);
}

.site-nav-login-register {
  padding-left: 5em;
}

.site-nav-login-register a {
    text-decoration: none;
    color: rgb(253, 234, 138);
}

.site-title {
    text-decoration: none;
}

.site-nav label {
    display: none;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(52, 102, 103);
    color: rgb(204, 204, 204);
    padding: 0.5em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: inherit;
    padding-right: 1em;
}