<div class="about-description">
    <div class="left">
        <h1>Interior design</h1>
        <h3>Fulfill your dreams</h3>
        <p></p>
        <img src="{{ site.baseurl }}/images/measure.jpg" alt=""/>
        <blockquote>
            "Make it simple, but significant"
            <div class="author">
                <p>-Don Draper</p>
            </div>
        </blockquote>
        <p></p>
    </div>
    <div class="right">
        <h1>Our services</h1>
        <h3>Need help?</h3>
        <p></p>
    </div>
</div>