<dvi class="login">
    <img src="{{ site.baseurl }}/images/lock.jpg">
    <div class="logo-form">Login</div>
    <div class="login-form">
        <form>
            <div class="form-field">
                <label class="user" for="login-username"><span class="hidden">Username</span></label>
                <input id="login-username" type="text" class="form-input" placeholder="Username" required>
            </div>

            <div class="form-field">
                <label class="lock" for="login-password"><span class="hidden">Password</span></label>
                <input id="login-password" type="password" class="form-input" placeholder="Password" required>
            </div>

            <button class="button">
                Login
                <div class="button__horizontal"></div>
                <div class="button__vertical"></div>
            </button>
        </form>
    </div>
</dvi>