<div class=logo>
    <a class="page-link" href="/"><img src="/css/logo-2.png"></a>
</div>
<nav class="site-nav">
    <div class="trigger">
        <a class="page-link" href="/about/">About</a>
        <a class="page-link" href="/portfolio/">Portfolio</a>
        <a class="page-link" href="/project-calculator/">Project Calculator</a>
        <a class="page-link" href="/contacts/">Contacts</a>
        <div class="site-nav-login-register">
            <a class="page-link" href="/login/">Login</a>
            <a class="page-link" href="/register/">Register</a>
        </div>
    </div>
</nav>