<div class=logo>
    <a class="page-link" href="/"><img src="{{ site.baseurl }}/images/logo-2.png"></a>
</div>
<nav class="site-nav">
    <div class="trigger" id="top-nav">
        <div class="border-animation"></div>
        <a class="page-link" href="{{ site.baseurl }}/about/">About</a>
        <div class="border-animation"></div>
        <a class="page-link" href="{{ site.baseurl }}/portfolio/">Portfolio</a>
        <div class="border-animation"></div>
        <a class="page-link" href="{{ site.baseurl }}/project-calculator/">Project Calculator</a>
        <div class="border-animation"></div>
        <a class="page-link" href="{{ site.baseurl }}/contacts/">Contacts</a>
        <div class="site-nav-login-register">
            <a class="page-link" href="{{ site.baseurl }}/login/">Login</a>
            <a class="page-link" href="{{ site.baseurl }}/register/">Register</a>
        </div>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</nav>

<script>
    function myFunction() {
        var x = document.getElementById("top-nav");
        if (x.className === "trigger") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
