<div class=logo>
    <a class="page-link" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo-2.png"></a>
</div>
<nav class="site-nav" id="nav">
    <div class="border-animation"></div>
        <a class="page-link active" href="{{ site.baseurl }}/about/">About</a>
    <div class="border-animation"></div>
        <a class="page-link" href="{{ site.baseurl }}/portfolio/">Portfolio</a>
    <div class="border-animation"></div>
    <a class="page-link" href="{{ site.baseurl }}/projects-portfolio/">Projects</a>
    <div class="border-animation"></div>
        <a class="page-link" href="{{ site.baseurl }}/project-calculator/">Project Calculator</a>
    <div class="border-animation"></div>
        <a class="page-link" href="{{ site.baseurl }}/contacts/">Contacts</a>
    <div class="site-nav-login-register">
            <a class="page-link" href="{{ site.baseurl }}/login/">Login</a>
            <a class="page-link" href="{{ site.baseurl }}/register/">Register</a>
    </div>
</nav>
