<div class="projects-portfolio">
    <ul>
        {% for project in site.gallery %}
        <li>
            <a href="#">
                <h1>{{ project.title }}</h1>
                <p>{{ project.year }}</p>
                <p>{{ project.description}}</p>
            </a>
            <img src="{{ site.baseurl }}{{ project.image-path }}" class="gallery-img" alt="image {{ forloop.index }}" onclick="window.open('{{ site.baseurl }}{{ project.image-path }}');" />
        </li>
        {% endfor %}
    </ul>
</div>