.about{
  width: 100%;
  margin:0 auto;
}

.about > h1 {
  font-weight: 100;
  padding-bottom: 1em;
}

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  div:nth-of-type(even) {
    grid-column: 2;
  }

  @include bp (phone) {
    display: block;
  }

  @include bp (tablet) {
    display: block;
  }
}

.about-wrapper > div {
  margin: 1em;
  background-color: var(--text-primary-color);
  color: var(--text-headings-color);
  padding: 2em;
}

.about-wrapper img {
  width:30%;
  height:auto;
  float:left;
  padding:2em;
}

.about-wrapper blockquote {
  width:30%;
  border-left: 1px solid var(--text-headings-color);
  margin: 1.5em;
}

.about-wrapper .author{
  padding-top: 0.5em;
  float: right;
}

.one {

}

.two {
  grid-row: 2;
}

.three {
  grid-row: 3;
}

.four {
  grid-row: 4;
}
