@import 'responsive';

.gallery{
  line-height: 0;
  margin: 0.6em;

  -webkit-column-count: 3;
  -webkit-column-gap:   0;
  -moz-column-count:    3;
  -moz-column-gap:      0;
  column-count:         3;
  column-gap:           0.8em;

  @include bp(mobile) {
      -moz-column-count:    2;
      -webkit-column-count: 2;
      column-count:         2;
  }

  @include bp(tablet) {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }

  @include bp(phone) {
      -moz-column-count:    1;
      -webkit-column-count: 1;
      column-count:         1;
  }
}

.gallery figure {
  padding-bottom: 0.8em;
}

.gallery-img{
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit:cover;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.gallery-img{box-shadow:0.2em 0.2em 0.6em 0 rgba(0,0,0,0.42)}