.page-content{
  display:flex;
  min-width:100%;
  min-height:calc(100% - 1.2em);
  justify-content:center;

  @include bp(phone){
    display:block;
    margin: 0 auto;
    .presentation {
      padding-left: 0;
      padding-right: 0;
    }

    .cover-image img {
      height: 40rem;
      width: auto;
    }
  }
}

.presentation {
  color:var(--text-headings-color);
  padding:2em;
  flex-wrap:nowrap;
  flex-direction:column;
  justify-content:center;
  width:100%;
}

.presentation,
.presentation-heading{
  display:-webkit-box;
  display:flex;
  align-items:center
}

.presentation img {
  width:1em;
  height:auto;
  padding:0.5em;
}

.presentation p{
  margin-bottom:1em
}

.cover-image img {
  height:100%;
  width:100%;
  object-fit:cover;
  background-color:var(--header-and-footer-color);
  opacity:0.8;
  transition: opacity 1s ease-in-out;

  &:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 1;
  }
}

.home-page-buttons a {
  width: 25em;
  height: 5em;
  padding: 0.7em;
  margin-bottom: 1em;
  border: 0;
  border-radius: 0.2em;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--header-and-footer-color);
  cursor:pointer;
  text-decoration: none;
}

.portfolio-button a{
  background-color:var(--header-and-footer-color);
  color:var(--text-primary-color);
}

.project-calculator-button a{
  background-color:var(--golden-text);
  color: var(--text-headings-color);
}

.portfolio-button {
  margin-top: 2em;
}

.project-calculator-button {
  margin-top: 2em;
}

.cover-image img{
  height:100%;
  width:100%;
  object-fit:cover;
}

.presentation {
  animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.cover-image {
  animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
