body,html{min-height:100%;padding:0;margin:0}
a:hover{cursor:pointer}
.wrapper{margin:0 auto;background-color:#fff;}
.page-content{display:-webkit-box;display:flex;min-width:100%;min-height:100%;}
.presentation{color:#656565;padding:2em;flex-wrap:nowrap;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column;-webkit-box-pack:center;justify-content:center;width:100%}
.presentation,.presentation-heading{display:-webkit-box;display:flex;-webkit-box-align:center;align-items:center}
.presentation img{width:1em;height:auto;padding:2em}.presentation p{margin-bottom:1em}
.cover-image img{height:100%;width:100%;-o-object-fit:cover;object-fit:cover}
.presentation input{width:20em;height:4em;margin-bottom:1em;border:0;border-radius:.2em;text-transform:uppercase;font-weight:700;color:#656565;cursor:pointer}
.portfolio-button input{background-color:#9cc;margin-top:1em}
.project-calculator-button input{background-color:#fdea8a}
.contacts{display:flex;color:#656565;}
.contacts-map iframe{padding:0.5em;height:97%;}
.contact-info{display:flex;flex-direction:column;margin:0.5em;border:0.2em solid lightgrey;}
.contact-form{display:flex;padding:0.5em;justify-content:center;}
.contact-form input,textarea{padding:0.6em;margin:0.3em;border:none;border-radius:0.2em;background-color:lightgrey;}
.contact-form textarea{width:80%;height:4em;}
.contact-details{padding:0.5em;}
.icons{list-style-type:none;}
.about-description{width:80%;margin:0 auto;color:#656565;}
.about-description .left {float:left;}
.about-description .left {float:right;}

.presentation {
  animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.cover-image {
  animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
