.wrapper {
  max-width: 70rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.page-content {
  display: flex;
  min-width: 100%;
  min-height: calc(100% - 1.2em);
  justify-content: center;
}
