body,html{min-height:100%;padding:0;margin:0}
a:hover{cursor:pointer}
.wrapper{margin:0 auto;background-color:#fff;}
.page-content{display:-webkit-box;display:flex;min-width:100%;min-height:100%;justify-content:center;}
.presentation{color:var(--text-headings-color);padding:2em;flex-wrap:nowrap;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column;-webkit-box-pack:center;justify-content:center;width:100%}
.presentation,.presentation-heading{display:-webkit-box;display:flex;-webkit-box-align:center;align-items:center}
.presentation img{width:1em;height:auto;padding:2em}.presentation p{margin-bottom:1em}
.cover-image img{height:100%;width:100%;-o-object-fit:cover;object-fit:cover;}
.presentation input{width:20em;height:4em;margin-bottom:1em;border:0;border-radius:.2em;text-transform:uppercase;font-weight:700;color:var(--header-and-footer-color);cursor:pointer}
.portfolio-button input{background-color:var(--header-and-footer-color);margin-top:1em;color:var(--text-primary-color)}
.project-calculator-button input{background-color:var(--golden-text)}
.contacts{
  display:flex;
  color:var(--text-headings-color);

  @include bp(mobile){
      display:block;
      margin: 0 auto;
    }
  @include bp(phone){
    display:block;
    margin: 0 auto;
  }
}
.contacts-map iframe{padding:0.5em;}
.contact-info{display:flex;flex-direction:column;margin:0.5em;border:0.2em solid var(--text-primary-color);}
.contact-form{display:flex;padding:0.5em;justify-content:center;}
.contact-form input,textarea{padding:0.6em;margin:0.3em;border:none;border-radius:0.2em;background-color:var(--text-primary-color);}
.contact-form textarea{width:80%;height:4em;}
.contact-details{padding:0.5em;}
.icons{list-style-type:none;}
.about-description{width:80%;margin:0 auto;color:var(--text-headings-color);}
.about-description img {width:30%;height:auto;float:left;padding-bottom:2em;}
.about-description blockquote {width:30%;border-left: 1px solid var(--text-headings-color);padding: 1.5em;}
.about-description .author{padding-top: 0.5em;float: right;}

.presentation {
  animation: slide-in-left 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.cover-image {
  animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
