.site-header{
  background-color:var(--header-and-footer-color);
  height:3em;
  align-items:center;
  width:100vw;
}

.logo img{
  width:7em;
  height:auto;
  margin-top:.5em;
  margin-left:2em;
  margin-right:2em;
}

.site-header,.site-nav,.trigger,footer{
  display:flex;
  justify-content:space-between;
}

.trigger,footer{
  justify-content:flex-end;
}

.trigger a{
  padding-right:2em;
  text-decoration:none;
  color:var(--text-primary-color);
  padding-left:1em;
}

.site-nav-login-register{
  padding-left:5em;
}

.site-nav-login-register a{
  text-decoration:none;
  color:var(--golden-text);
}

.site-title,footer a{
  text-decoration:none;
}

footer{
  height:1.3em;
  justify-content:space-between;
  background-color:var(--header-and-footer-color);
  color:var(--text-primary-color);
  padding:0.5em;
  position:relative;
  left:0;
  bottom:0;
  width:100vw;
}

footer a{
  color:inherit;
  padding-right:1em;
}

footer .privacy {
  padding-right: 1em;
}

.border-animation {
  border-left:2px solid rgb(212,175,55);
  animation: slide-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}