.projects-portfolio {
  width: 100%;
  height: 100%;
  column-count: 3;
  margin: 0.5em;

  @include bp (mobile) {
    column-count: 2;
    align-items: center;
  }

  @include bp (tablet) {
    column-count: 2;
    align-items: center;
  }

  @include bp (phone) {
    column-count: 1;
    align-items: center;
  }

}

.projects-portfolio ul {
  display: block;
  justify-content: space-between;
  list-style: none;
}

.projects-portfolio ul li {
  flex-grow: 1;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 3px solid var(--text-primary-color);
  box-shadow: 3px 3px 8px 0 rgba(0,0,0,0.3);
  padding: 0.5em;
  display: table;
}

.projects-portfolio ul li:nth-child(1) {
  margin-top: 0;
}

.projects-portfolio ul a {
  text-decoration: none;
  color: var(--text-headings-color);
}

.projects-portfolio img {
   object-fit: contain;
}

.projects-portfolio li a > p {
  padding: 1em;
}

.projects-portfolio li a > h1 {
  padding: 1em;
  border-bottom: 0.1em solid var(--golden-text);
  text-shadow: 0 0 0.2em var(--text-primary-color);
}
