@import 'responsive';

*{
  font-family:'Lato',sans-serif;

  @include bp(phone) {
    font-size: var(--font-size-phone);
  }

  @include bp(mobile) {
    font-size: var(--font-size-tablet);
  }

  @include bp(tablet) {
    font-size: var(--font-size-tablet);
  }

  @include bp(desktop) {
    font-size: var(--font-size-desktop);
  }

  @include bp(large) {
    font-size: var(--font-size-desktop);
  }
}

.presentation-heading h1{
  font: 3em 'Lato', serif;
}

blockquote {
  font-style: italic;
}
