<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>
<header class="site-header">
    {% include navigation.html location="header" %}
</header>
<body>
    <main class="page-content">
         {{ content }}
    </main>
</body>
<footer>
    {{ site.title }} &copy 2019 All rights reserved
    <div class="privacy">
        <a class="page-link" href="{{ site.baseurl }}/privacy/">Privacy Terms</a>
    </div>
</footer>
</html>